sudo: false
language: cpp

matrix:
  include:
    - os: osx
      osx_image: xcode10.2
      compiler: clang
    - os: windows
      language: node_js
      node_js: node
      compiler: clang
      before_install:
        - choco install python3
        - export PATH="/c/Python37:/c/Python37/Scripts:$PATH"
        - python -m pip install --upgrade pip wheel
        - export PATH="/C/Users/travis/AppData/Roaming/Python/Python37/Scripts:$PATH"
      env:
        - CONFIG_TYPE="--config Release"
        - CTEST_CONFIG_TYPE="-C Release"
    - os: linux
      compiler: clang
      install:      
        - export CXX=clang++-8
    - os: linux
      compiler: gcc
      install:      
        - export CXX=g++-7
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-trusty-8
    packages:
    - g++-7
    - clang-8    
    # GLFW
    - libxcursor-dev 
    - libxrandr-dev 
    - libxinerama-dev 
    - libxi-dev
    - libg1-mesa-dev 
    - libglu1-mesa-dev
  homebrew:
    packages:
      - node

before_script:
  - pip install --user cmake
  - npm install -g @zpmpkg/zpm@next
script:
  - echo $CONFIG_TYPE
  - zpm
  - cmake .
  - cmake --build . $CONFIG_TYPE
  - ctest $CTEST_CONFIG_TYPE