sudo: false
language: cpp

matrix:
  include:
    - os: osx
      osx_image: xcode10.2
      compiler: clang
      # install: 
      #   - export CC=/usr/local/opt/llvm/bin/clang 
      #   - export CXX=/usr/local/opt/llvm/bin/clang++ 
      #   - export AR=/usr/local/opt/llvm/bin/llvm-ar 
      #   - export LD=/usr/local/opt/llvm/bin/llvm-ld 
      #   - export LDFLAGS="-L/usr/local/opt/llvm/lib -Wl,-rpath,/usr/local/opt/llvm/lib" 
      #   - export CPPFLAGS="-I/usr/local/opt/llvm/include -I/usr/local/opt/llvm/include/c++/v1/"
    - os: windows
      compiler: clang
      before_install:
        - choco install python3
        - export PATH="/c/Python37:/c/Python37/Scripts:$PATH"
        - python -m pip install --upgrade pip wheel
        - choco install nodejs 
    - os: linux
      compiler: clang
      install:      
        - export CXX=clang++-8
    - os: linux
      compiler: gcc
      install:      
        - export CXX=g++-7
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-trusty-8
    packages:
    - g++-7
    - clang-8    
  homebrew:
    packages:
      - node
      # - llvm

before_script:
  - pip install --user cmake
  - npm install -g zpmpkg/zpm#alpha
script:
  - zpm
  - cmake .
  - cmake --build .
  - ctest